@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: white;
  font-style: normal;

  color: #000;

}
.card3{
  background: linear-gradient(180deg, #017063 -293.57%, #D6E437 118.88%);


}
/* .center{
  margin-left: 10px;
  margin-right: 10px;
} */
.new-font{
  font-family: "Manrope", sans-serif;
  font-style: normal;
}
.about-right-section{
background: linear-gradient(0deg, #C6D135 40.29%, #0A7560 234.28%);
}
.home{
  border-radius: 25px;
background: linear-gradient(180deg, #007163 4.17%, #C6D135 86.12%);
}
.navbg{
background: linear-gradient(180deg, #007163 4.17%, #C6D135 86.12%);

}
@media only screen and (min-width: 304px) and (max-width: 764px) {
  .customewidth{
width: 100%;
  }
}
@media only screen and (min-width: 765px) and (max-width: 825px) {
  .customewidth{
width: 300px;
  }
}

@media only screen and (min-width: 826px) and (max-width: 925px) {
  .customewidth{
width: 330px;
  }
}
@media only screen and (min-width: 926px) and (max-width: 1025px) {
  .customewidth{
width: 370px;
  }
}
@media only screen and (min-width: 1026px) and (max-width: 1125px) {
  .customewidth{
width: 430px;
  }
}@media only screen and (min-width: 1126px) and (max-width: 1200px) {
  .customewidth{
width: 470px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1280px) {
  .customewidth{
width: 490px;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 2540px) {
  .customewidth{
width: 360px;
  }
}
.bcolor{
border: 2px solid rgba(255, 255, 255, 0.34);
background: rgba(255, 255, 255, 0.00);
}